body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h1, nav, span, a, .new-york, .footer {
  color: white;
}

/*Here is another case where I should be using "./resources/the-flatiron-building.png" as the URL value.  For some reason it just won't work when I use a relative path.  I've tried renaming the file and moving it altogether, but it just won't load.  I have no idea why...*/
.new-york, #nav1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px
}

.footer {
  text-align: left;
  background-color: dimgray;
}

span {
  font-size: 11px;
}

#nav, #nav2 {
  font-size: 18px;
}
